{% extends 'base.html' %}

{% block content %}
<ul class="collapsible">
     {% for games in games %}
    <li>
      <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
      <h5>Game Name: {{games.game_name}} Game Release Date: {{games.game_date}} Game Type: {{games.game_type}} Game Rating: {{games.game_rating}}</h5>
      </div>
      <div class="collapsible-body"><span> <p>Game Description </p>{{games.game_description}}</span></div>
    </li>
    {% endfor %}
</ul>

{% endblock %}