{% extends 'base.html' %}

{% block content %}
<ul class="collapsible">
     {% for games in games %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">videogame_asset</i>
                <h5>Game Name: {{games.game_name}} Game Release Date: {{games.game_date}} Game Type: {{games.game_type}} Game Rating: {{games.game_rating}}</h5>
                <a href="{{url_for ('edit_game', games_id=games._id)}}" class="waves-effect waves-light btn button"> <i class="material-icons right">create</i>Edit </a>
                <a href="{{url_for ('delete_game', games_id=games._id)}}" class="waves-effect waves-light btn button"> <i class="material-icons right">delete</i>Delete</a>
            </div>
            <div class="col s9">
            
            </div>
        </div>
        <div class="collapsible-body"><span> <p>Game Description </p>{{games.game_description}}</span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}